body{
    font-family: Helvetica, sans-serif;
    background-color: ghostwhite;
}
section{
    margin: 20px;
    padding: 20px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
button{
    padding: 10px 20px;
    border-radius: 2px;
    margin-right : 10px;
    margin-top: 10px;
    font-weight: 600;
    border: 1px solid black;
}
p{
    line-height: 1.7;
    color: gray;
    font-size: 20px;
    letter-spacing: 0.4px;
    width: 70%;
}
.first{
    background-color: rgba(120,110,255,255);
    color: #fff;
    border-color: rgba(120,110,255,255);
    
}
img{
    display: inline-block;
    width: 30%;
    /* height: 100%; */
    vertical-align: bottom;
}
h1{
    font-family: Helvetica , sans-serif;
    font-size: 40px;
    font-weight: 25;
}